.wrap {
  display: flex;
  height: 100vh;
  .form__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
    img {
      width: 150px;
    }
  }
  .image__bg {
    position: absolute;
  }
  .title {
    position: absolute;
    top: 300px;
    left: calc(79px + 300px);
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #ff7506;
    .title__01 {
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 51px;
    }
    .title__02 {
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 54px;
    }
  }
  .ant-form-item-control-input-content {
      display: flex;
      justify-content: center;
  }
}

//Form login
.loginform_field__label {
  display: flex;
  justify-content: flex-start;

  .active {
    cursor: pointer;
    color: #e73f3f;
    font-size: 14px;
    margin-bottom: 0px !important;
  }
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.submit__btn {
  width: 162px;
  border-radius: 10px;
  background-color: #ff7506;
  border: none;
  font-size: 16px;
  font-weight: 600;
  &:hover {
    background-color: #ff7506;
  }
}
.wrap-login__input {
  margin-bottom: 20px;
}
.login__input {
  border-radius: 10px;
  font-size: 16px;
  min-width: 400px;
}
.ant-input-suffix {
  font-size: 20px;
}

.ant-form-item-explain-error {
  text-align: start;
}

.ant-input {
  box-sizing: border-box;
  border-width: 2px !important;
}
.ant-input-affix-wrapper {
  border-width: 2px !important;
}
.ant-input-affix-wrapper-focused {
  box-shadow: none;
  border-right-width: 2px !important;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled) {
  &:focus {
    box-sizing: border-box;
    border-right-width: 222px;
  }
  &:hover {
    box-sizing: border-box;
    border-right-width: 2px;
  }
}
.ant-btn:hover,
.ant-btn:focus {
  color: var(--text-color-white);
  border-color: var(--background-orange-500);
  background: var(--background-orange-500);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* START WEBKIT */
} /* END WEBKIT */
